div, section {
  display: flex;
  /*text-align: center;*/
  justify-content: space-around;
  align-items: center;
  padding:10px;
}
div {
  width: 50vw;
}
@media screen and (max-width: 1200px){
  div {
    width: 60vw;
  }
}
@media screen and (max-width: 1050px){
  div {
    width: 65vw;
  }
}
@media screen and (max-width: 900px){
  div {
    width: 70vw;
  }
}
@media screen and (max-width: 600px){
  div {
    width: 90vw;
  }
}
