<section>
  <div>
    This site is dedicated to people who are interested in owning a cat.<br><br>
    Before making the decisions on which cat to get, it is important to consider the breed of the cat.<br><br>
    Cat breeds differ on characteristics such as intelligence, cleanliness, and ability to get along with children.<br><br>
    If you are interested in a clean cat that is good with children and also intelligent, please check the breed to make sure the
    cat's characteristics match what you are looking for.<br><br>
  </div>
</section>
