<div class="container" *ngIf="loaded==true">
  <div class="row">
    <div class="col">
      <img class="card-img" src="https://cdn2.thecatapi.com/images/{{breed.reference_image_id}}.jpg"
           alt="cat photo">
    </div>
    <div class="col">
      <div class="row">
        <h3 class="card-title">{{breed.name}}</h3>
      </div>
      <p class="card-text">{{breed.description}}</p>
    </div>
  </div>
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      1 of 3-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      2 of 3-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      3 of 3-->
<!--    </div>-->
<!--  </div>-->
</div>

