/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  color: white;
}
.carousel-indicators, .carousel-control-prev, .carousel-control-next {
  visibility: hidden;
}

.card {
  border-color: red;
  border-width: 5px;
}
