<div class="dropdown" ngbDropdown>
  <button (click)="resetSubmit()" aria-expanded="true" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
          id="dropdownMenuButton2" ngbDropdownToggle type="button">
    Search Breeds
  </button>
  <ul [hidden]="submitted" aria-labelledby="dropdownMenuButton2" class="dropdown-menu" ngbDropdownMenu>
    <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group" *ngFor="let m of model">
        <label class="form-label" [for]="m.name">{{m.description}}</label>
        <input [(ngModel)]="m.value" class="form-range" [id]="m.name" [max]="m.max" [min]="m.min" [name]="m.name" step="1" type="range">
      </div>

      <button class="btn btn-info submit"
              routerLink="search/?{{buildQuery(model)}}"
              type="submit">
        Search
      </button>
    </form>
  </ul>
</div>



